<table style="text-align: center;background-color:royalblue">
    <h style="color:aqua;background-color:red">
        Near by Car Parking Sites
    </h>
    <tr>
        <td>Sabari Parking Site</td>
    </tr>
    <tr>
        <td>Tara Parking Site</td>
    </tr>
    <tr>
        <td>Jahnavi Parking Site</td>
    </tr>
</table>
