body {
    background-image: url("Images/ParkingImage.jpg");
    background-attachment: fixed;
    color: White;
    background-size: 100% 100%;
    font-size:medium;
}

h1 {
    color: mediumvioletred
}

h3 {
    color: brown
}

header {
    text-align: center;
}

table {
    font-family: 'Times New Roman', Times, serif;
    /*border-collapse: collapse;*/
    width: 100%;
    font-size:medium;
    /*border-spacing:10px;
    padding:10px;
    border-color:darkgreen;*/
    /*background-color: blanchedalmond;*/
    border: 2px White;
}

td, tr {
    /*border: 2px solid black;*/
    border-color: white;
    border-spacing: 5px;
    padding: 8px;
    font-size:medium;
}

th {
    font-family: 'Times New Roman', Times, serif;
    background-color: brown;
}
