body {
    background-image: url("Images/ParkingImage.jpg");
    background-attachment: fixed;
    color: white;
    background-size: 100% 100%;
}

h1 {
    color: mediumvioletred
}

h3 {
    color: brown
}

header {
    text-align: center;
}

table {
    font-family: 'Times New Roman', Times, serif;
    /*border-collapse: collapse;*/
    width: 100%;
    /*border-spacing:10px;
    padding:10px;
    border-color:darkgreen;*/
    /*background-color: blanchedalmond;*/
    border: 2px White;
}
td,tr {
        border: 2px solid black;
        border-color: black;
        border-spacing: 5px;
        padding: 8px;
    }

th {
        font-family: 'Times New Roman', Times, serif;
        background-color: brown;
    }
