@model OnlineCarParkingBookingManagement.Entity.CarOwnerDetails

@{
    ViewBag.Title = "DisplayCarOwnerDetails";
    Layout = "~/Views/Shared/HomePage.cshtml";
}

<h2>DisplayCarOwnerDetails</h2>
Html.ActionLink("Edit Profile", "EditCarOwnerDetails","CarOwnerDetails")
<table cellspacing="0" border="1">
    <tr>
        <th>Email Id</th>
        <th>Options</th>
    </tr>
    @foreach (OnlineCarParkingBookingManagement.Entity.CarOwnerDetails carOwnerDetails in (List<OnlineCarParkingBookingManagement.Entity.CarOwnerDetails>)TempData["carOwnerDetails"])
    {
        <tr>
            <td>@carOwnerDetails.emailId</td>
            <td>@Html.ActionLink("Edit", "EditCarCarOwnerDetails", new { id = carOwnerDetails.emailId })</td>
        </tr>
    }
</table>



